/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Fondo claro */
  }
  
  .header {
    background-color: #4CAF50; /* Verde brillante */
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  .home-container {
    text-align: center;
    padding: 20px;
  }
  
  .welcome-message {
    font-size: 2.5rem;
    color: #4CAF50; /* Verde */
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 40px;
  }
  
  .links-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .link {
    text-decoration: none;
    color: #4CAF50; /* Verde */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .link:hover {
    background-color: #4CAF50;
    color: white;
  }